.book {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #E5E7EB;
    background: #F5F5F5;
    padding: 12px;
}

.book button {
    margin-left: auto;
}

.icon {
    width: 64px;
    height: 64px;
}

.meta {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 4px;
}

.info {
    display: flex;
    flex-direction: column;
}

.review {
    background-color: white;
    padding: 4px;
    border: 1px dashed black;

}