* {
    margin: 0;
    list-style: none;
    // padding: 16px;
}

.account {

    &__header {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 48px 12px 48px;        
        color: white;
        margin-bottom: 48px;
    }

    &__info {
        display: flex;

    }

    &__count {
        display: flex;
    }
}

.meta {
    margin-top: 24px;
    display: flex;
    gap: 24px;
}

.stats {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 12px;
}


.count {
    font-size: 24px;
    font-weight: 600;
}

.avatar {
    width: 300px;
    height: 200px;
    margin-right: 80px;
}