
.account {

    &__header {
        background-color: black;      
        color: white;
        margin-bottom: 28px;
    }

    &__headerContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 48px;
    }

    &__info {
        display: flex;
        margin-bottom: 120px;

    }

    &__count {
        display: flex;
    }
}

.container {
    padding: 12px 48px;
}

.meta {
    margin-top: 24px;
    display: flex;
    gap: 24px;
}

.stats {
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    border: 1px solid #E5E7EB;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    color: #6B7280;
    padding: 12px;
}


.count {
    font-size: 24px;
    font-weight: 600;
    color: #111827;
}

.avatar {
    width: 160px;
    height: 160px;
    margin-right: 80px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.inputs {
    display: flex;
    margin-top: 12px;
    gap: 8px;
    flex-direction: column;
}

.inputs button {
    align-self: flex-start;
}